$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/bgzin_zica.png');
  background-color: $gray-darker;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background: $gray-dark;
  color: #FF9F1C;
  padding-top: 20px;

  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

#lyrics a {
  padding: 15px 0px 15px 65px;
}

/***********************  TWITTER **************************/
#lyrics #twitter {
  background-color: white;
  background-image: url('../images/TwitterLogo_white.png');
  background-position: 10px 2px;
  background-repeat: no-repeat;
  background-size: 13%;
}

/***********************  LINKEDIN **************************/
#lyrics #linkedin {
  background-color: white;
  background-image: url('../images/LinkedInLogo_white.png');
  background-position: 13px 7px;
  background-repeat: no-repeat;
  background-size: 10%;
}

/***********************  SPOTIFY **************************/
#lyrics #spotify {
  background-color: white;
  background-image: url('../images/spotify_caca.png');
  background-position: 13px 6px;
  background-repeat: no-repeat;
  background-size: 10%;
}

/***********************  GITHUB **************************/
#lyrics #github {
  background-color: white;
  background-image: url('../images/GitHubLogo_white.png');
  background-position: 13px 6px;
  background-repeat: no-repeat;
  background-size: 10%;
}

/***********************  WORDPRESS **************************/
#lyrics #wordpress {
  background-color: white;
  background-image: url('../images/WordPressLogo_white.png');
  background-position: 13px 6px;
  background-repeat: no-repeat;
  background-size: 10%;
}

/***********************  INSTAGRAM **************************/
#lyrics #instagram {
  background-color: white;
  background-image: url('../images/InstagramLogo_white.png');
  background-position: 14px 7px;
  background-repeat: no-repeat;
  background-size: 9%;
}

/***********************  FACEBOOK **************************/
#lyrics #facebook {
  background-color: white;
  background-image: url('../images/FacebookLogo_white.png');
  background-position: 14px 7px;
  background-repeat: no-repeat;
  background-size: 9%;
}


#lyrics a#twitter:hover,
#lyrics a#twitter:active,
#lyrics a#twitter:visited,
#lyrics a#linkedin:hover,
#lyrics a#linkedin:active,
#lyrics a#linkedin:visited,
#lyrics a#spotify:hover,
#lyrics a#spotify:active,
#lyrics a#spotify:visited,
#lyrics a#github:hover,
#lyrics a#github:active,
#lyrics a#github:visited,
#lyrics a#wordpress:hover,
#lyrics a#wordpress:active,
#lyrics a#wordpress:visited,
#lyrics a#instagram:hover,
#lyrics a#instagram:active,
#lyrics a#instagram:visited,
#lyrics a#facebook:hover,
#lyrics a#facebook:active,
#lyrics a#facebook:visited {
  background-color: $gray-light;
  color: white;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
